@font-face {
font-family: 'resquare';
src: url('fonts/ReSquare-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
    font-family: 'resquare';
    src: url('fonts/ReSquare-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Baloo 2', cursive;
}



#dragonPage {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    padding: 20px;
    position: relative;
    z-index: 2;
    justify-content: center;
}

.buttonsOracle {
display: flex;
flex-direction: column;
margin-left: 75px;
column-gap: 50px;
}

#buttonOracle {
    padding: 10px 20px;
    background: #5F27CD;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 120%;
    height: 65px;
    min-height: 65px;
    font-family: 'resquare';
    font-weight: bold;

}

#buttonOracle:active {
    transform: translateY(2px);
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.2);
}

#backButton {
    margin-top: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: underline;
}

.characterDisplay {
    /* margin-left: 150px; */
}

#selectedCharacterImg {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 25px #4ca354;
}

.speechBubble {
    margin-left: 75px;
    background: white;
    padding: 30px 35px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    font-weight: bold;
    width: 500px;
    max-width: 500px;
    font-size: 118%;
    
}

.ray {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease;
  pointer-events: none;   /* чтобы не мешал кликам */
  z-index: 0;             /* под всеми элементами */
}



.background {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: 
        radial-gradient(ellipse at 30% 40%, #1a1f2b 0%, #0c0e15 40%, #000000 100%),
        radial-gradient(ellipse at 70% 60%, #2d1a4c 0%, transparent 50%),
        radial-gradient(ellipse at 40% 80%, #1a2c4c 0%, transparent 50%);
    position: relative;
}



